body{
    background-image:url(../image/firstpage.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-attachment:fixed;
}
div#container{width:1355px;}
div#header{width:1355px; height:90px;}
div#header0 {width:200px; height: 90px; float:left; font-size:30px;}
div#header1 {background-color:admin/getAllUser.action#0066FF; width:150px; height: 65px; float:left; font-size:30px; padding-left:625px; padding-top:25px; text-align:center}
div#header2 {background-color:#00CCFF; width:150px; height: 65px; float:left; font-size:30px; padding-left:20px; padding-right:20px;padding-top:25px; text-align:center}
div#header3 {background-color:#00FFFF; width:150px; height: 65px; float:left; font-size:30px; padding-left:20px; padding-right:20px;padding-top:25px; text-align:center}
div#username{width:1300px; text-align:right; color:#0033FF; font-size:18px; font-weight:bold; padding-top:5px; background-attachment:fixed}
div#message{width:1355px; height:550px}
div#menu {height:500px;width:160px; padding-top:50px; float:left}
div#goodsplay{
    width: 1050px;
    height: 1000px;
    float:left;
    margin:70px;
    margin-top:30px;
    margin-right:0px;
    background-color:#000000;
    opacity:0.5;
}
#content {
    #FFFFFF;
    height:412px;
    width:538px;
    float:left;
    position:absolute;
    margin-left:10%;
    left: 380px;
    top: 143px;
    z-index: 1;
}
div#Layer3{
    color:#FFFFFF;
    font-size:24px;
    font-weight:700;
}

ul {margin:0;}
li {
    text-align:center;
    list-style:none;
    border-top-style: groove;
    border-right-style: groove;
    border-bottom-style: groove;
    border-left-style: groove;
    border-top-color: #CCCCCC;
    border-right-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
    border-left-color: #CCCCCC;
}
.href1{
    color:#FFFFFF;
    font-family:"黑体";
    text-decoration: none;
    font-weight:600;
}

a.href2:link{
    color:#FFFFFF;
    font-family:"Microsoft YaHei UI";
    font-size:24px;
    font-weight:500;
    text-decoration: none;
}

a.href2:visited{
    color:#FFFFFF;
    font-family:"Microsoft YaHei UI";
    font-size:24px;
    font-weight:500;
    text-decoration: none;
    position:relative;
    left:20px;
}

a.href2:hover{
    color:#FFFFFF;
    font-family:"Microsoft YaHei UI";
    font-size:24px;
    font-weight:500;
    text-decoration: none;
    position:relative;
    left:20px;
}

a.href2:active{
    color:#FFFFFF;
    font-family:"Microsoft YaHei UI";
    font-size:24px;
    font-weight:500;
    text-decoration: none;
    position:relative;
    left:20px;
}
.save{
    color:#FFFFFF;
    font-size: 24px;
    background-color:#00CCFF;
    width:200px;
    height:40px;
    font-weight:bold;
    border: medium outset #00FFFF;
    font-family: "黑体";
}

input.save:visited{
    color:#FFFFFF;
    font-size: 24px;
    background-color:#00CCFF;
    width:200px;
    height:40px;
    font-weight:bold;
    border: medium outset #00FFFF;
    font-family: "黑体";
}

input.save:hover{
    color:#FFFFFF;
    font-size: 24px;
    background-color:#0066FF;
    width:200px;
    height:40px;
    font-weight:bold;
    border: medium inset #0033FF;
    font-family: "黑体";
}

.message{
    color:red;
    font-size:24px;
    padding-left:10px;
}